<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>how couples meet and stay together</title>

    <!-- stylesheet -->
    <link rel="stylesheet" href="style.css">

    <!-- include the d3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>



  </head>
  <body>
    <h1>Americans' Love Life</h1>
<div id = "bigBox">
    <div id="graphOne"><a href="http://127.0.0.1:3000/week-11/testpage/testpage.html">click here</a>
    </div>
    <div id = "graphTwo"><a href="">click here</a>
    </div>
    <div id = "graphThree"><a href="">click here</a>
    </div>
    <div id =  "graphFour"><a href="">click here</a>
    </div>
</div>


    <!-- our main script: -->
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
